<h1>Restaurant Details</h1>

<table>
    <tr>
<td>Name:</td>
<td>
 
</td>
</tr>

<tr>
<td>Cuisine:</td>
<td>

</td>
</tr>

<td>Address:</td>
<td>

</td>
</table>



<!-- <form [formGroup]="form" (ngSubmit)="submitForm()"></form> -->
<form>
<tr>
<td>Name:</td>
<input type="text" size="50" id="name" placeholder="Your name" formControlName="name"/>
<td>

</td>

<tr>
    <td>Rating:</td>
    <input type="number" id="rating" formControlName="rating"/>
    <td>

</tr>

<tr>

    <tr>
        <td>Comment:</td>
        <td>
            <textarea cols="30" rows="10" formControlName="comment"></textarea>
          </td>
        <td>
    
    </tr>
    
        

          <!-- back button here --> 
          <button type="button" [routerLink]="['/restaurant-cuisine']">Back</button>

       
          <!-- submit button here -->
          <tr>
            <td><button type="submit" [Disabled=""]>Submit</button></td>
            </tr>
    </form>


   

