<h1>Restaurant Details</h1>

<table>
    <tr>
<td>Name:</td>
<td>
 
</td>
</tr>

<tr>
<td>Cuisine:</td>
<td>

</td>
</tr>

<td>Address:</td>
<td>

</td>
</table>

<tr>
<div><h2>Comment</h2> </div>
</tr>


<form>
<tr>
<td>Name:</td>
<input type="text" size="50" id="name" placeholder="Your name"/>
<td>

</td>

<tr>
    <td>Rating:</td>
    <input type="number" id="rating"/>
    <td>

</tr>

<tr>

    
        <td>
            <textarea cols="30" rows="10"></textarea>
          </td>

          <!-- back button here --> 
          <button type="button" [routerLink]="['/restaurant-cuisine']">Back</button>

       
          <!-- submit button here -->
          <tr>
            <td><button type="submit">Submit</button></td>
            </tr>
    </form>


   

